* {
    margin: 0%;
    padding: 0%;
}

body {
    background-image: url(og\ bomb.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover
}

.wrap {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    background-color: rgba(255, 255, 255, 0.493);
    padding: 20px;
}

.logo {
    display: inline-block;
}

.logo:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

img {
    width: 100px;
    height: auto;
}

.title {
    font-size: 200%;
    margin: 0;
    text-wrap: nowrap;
    text-align: center;
    margin-left: 60px;
    margin-top: 10px;
}

.referal-form {
    font-size: 300%;
    margin-top: 30px;
    text-align: center;
    color: white;
    text-shadow: 4px 4px 10px rgb(0, 0, 0);
}




.header {
    font-size: 150%;
    display: inline-block;
    margin-top: 18px;
}

a {
    text-decoration: none;
    margin-left: 30px;
}

a:hover {
    color: blue;
}



h2 {
    text-align: center;
    color: #000ba1;
}

.pd h2 {
    padding-top: 13px;
}

.pd {
    margin-left: 29%;
    background-color: rgba(255, 255, 255, 0.767);
    width: 40%;
    border: solid 0.0px;
    border-radius: 25px;
    margin-top: 60px;
}

form {
    margin-left: 10%;
    padding-bottom: 12px;
    padding-top: 10px;
}

label {
    font-size: larger;
}

.line {
    width: 380px;
    height: 30px;
    border-radius: 5px;
}

.reg-but {
    display: inline-block;
    background-color: #3399FF;
    color: white;
    padding: 10px;
    border-radius: 8px;
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
    width: 150px;
    height: 20px;
}

.reg-but:hover {
    background-color: blue;
    transform: scale(1.1);
    transition: 0.5s;
    box-shadow: 0px 1px 2px 2px black;
    color: white;
}

footer {
    background-color: rgba(255, 255, 255, 0.493);
    text-align: center;
    padding: 50px;
    margin-top: 40px;
}

.bison {
    width: 100px;
}